Demo_Restaurant_Agent.json
{
  "name": "Demo_Restaurant_Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "demo_restaurant_agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -48,
        0
      ],
      "id": "6dcd3ce6-4deb-489f-ae0b-b54716dec5b6",
      "name": "Webhook",
      "webhookId": "0632b6c0-9475-46df-a163-ee50a5321b2d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ultravox.ai/api/agents/badeb30e-22d3-49c9-ad58-ff029473f796/calls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"medium\": { \"twilio\": {} }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "0d0a0711-f7f8-4f06-9ce4-56adb384517d",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YDZsHjnYNe6q0nk7",
          "name": "Ultravox"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n   <Connect>\n       <Stream url=\"{{ $json.joinUrl }}\" />\n   </Connect>\n   <Say>This instruction is unreachable unless the Stream is ended by your WebSocket server.</Say>\n</Response>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml; charset=UTF-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        464,
        0
      ],
      "id": "601bff3c-ac30-49a7-ac4d-a53eeb436422",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "31c98744-f5de-4310-9e06-bec3d04f97cb",
  "meta": {
    "instanceId": "103081d373997b7ee460f88dc127c97aa0ffb58ca86a5dce5a823011669aa9bd"
  },
  "id": "XYAHQHlWTeHIxMJJ",
  "tags": []
}