Demo_Clinic_Agent.json
{
  "name": "Demo_Clinic_Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "demo_clinic_agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -48,
        0
      ],
      "id": "c5ba5dcf-636a-46f9-8928-147fdad381f8",
      "name": "Webhook",
      "webhookId": "73035204-96ba-40fe-9f99-bc5ed411a9b9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ultravox.ai/api/agents/2e187b77-75b4-4d33-97dc-78675babac81/calls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"medium\": { \"twilio\": {} }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "de15f300-c2f3-4929-ba1f-1e1b31437f81",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YDZsHjnYNe6q0nk7",
          "name": "Ultravox"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n   <Connect>\n       <Stream url=\"{{ $json.joinUrl }}\" />\n   </Connect>\n   <Say>This instruction is unreachable unless the Stream is ended by your WebSocket server.</Say>\n</Response>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml; charset=UTF-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        464,
        0
      ],
      "id": "d7f2a372-9435-4584-81a5-11272a080eaf",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "59e10c74-2ae4-44cc-8821-13115d9d6ec3",
  "meta": {
    "instanceId": "103081d373997b7ee460f88dc127c97aa0ffb58ca86a5dce5a823011669aa9bd"
  },
  "id": "B3JUM9ZRozxdUrXp",
  "tags": []
}